@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&family=DotGothic16&family=Fira+Sans:wght@100;300&family=Geologica:wght@100;300&family=IBM+Plex+Mono:wght@200;300&family=Open+Sans:wght@300;400&family=Oswald:wght@200;300;400&family=PT+Sans+Narrow&family=Quicksand:wght@300;400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100&family=Silkscreen&family=Titillium+Web:wght@200;300;600&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&family=DotGothic16&family=Fira+Sans:wght@100;300&family=Geologica:wght@100;300&family=IBM+Plex+Mono:wght@200;300&family=Open+Sans:wght@300;400&family=Oswald:wght@200;300&family=PT+Sans+Narrow&family=Quicksand:wght@300;400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100&family=Silkscreen&family=Titillium+Web:wght@200;300;600&family=VT323&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('img/covid-fundo.jpg');

}

#box{
    margin-top: 150px;
    display: grid;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

#items {
    background-color: rgba(0, 0, 139, 0.5);
    display: grid;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#pergunta{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #000000;
    text-transform: uppercase;
    background-color: #aaaa;
    padding: 10px;
    border-radius: 2px;
    animation: pergunta 2s infinite;
    font-family: 'Dosis', sans-serif;

}


@keyframes pergunta {
    0% { background-color: #FF0000; }
    50% { background-color: #FFFF00; }
    100% { background-color: #FF0000; }
  }

#informa{
    color: #000000;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    background-color: #fff;
    border-radius: 2px;
    font-family: 'Dosis', sans-serif;
}

#button {
    text-align: center;
    cursor: pointer;
}

.container {
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
  }
button {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:10px;
    background: #fff;
    border: 2px solid $green;
    letter-spacing:1px;
    transition: background-color 0.2s ease;
}

a {
    text-decoration: none;
    
  }  

button:hover{
    background: #B0E0E6;
}

button:active:before {
    transform: perspective(50px) rotateX(90deg);

    .feedback {
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
        color: #fff;
    }
    
    .feedback.success {
        color: green;
    }
    
    .feedback.error {
        color: red;
    }


    